STEPS

DATA COLLECTION

EDA OF THE DATA

PREPROCESSSING OF THE DATA

MODEL (ARIMA,SARIMA,SARIMAX)

EVALVATION OF THE MODEL

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [7]:
stock_data=pd.read_csv("TSLA.csv")

In [9]:
stock_data.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500

In [10]:
stock_data=stock_data[['Date',"Close"]]
stock_data

            Date        Close
0     2010-06-29     4.778000
1     2010-06-30     4.766000
2     2010-07-01     4.392000
3     2010-07-02     3.840000
4     2010-07-06     3.222000
...          ...          ...
2951  2022-03-18   905.390015
2952  2022-03-21   921.159973
2953  2022-03-22   993.979980
2954  2022-03-23   999.109985
2955  2022-03-24  1013.919983

[2956 rows x 2 columns]

In [11]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2956 entries, 0 to 2955
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2956 non-null   object
 1   Close   2956 non-null   float64
dtypes: float64(1), object(1)
memory usage: 46.3+ KB

In [19]:
#Typecaste date column from string  to data
stock_data['Date']=pd.to_datetime(stock_data.Date)
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2956 entries, 0 to 2955
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2956 non-null   datetime64[ns]
 1   Close   2956 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 46.3 KB

In [22]:
stock_data

                  Close
Date
2010-06-29     4.778000
2010-06-30     4.766000
2010-07-01     4.392000
2010-07-02     3.840000
2010-07-06     3.222000
...                 ...
2022-03-18   905.390015
2022-03-21   921.159973
2022-03-22   993.979980
2022-03-23   999.109985
2022-03-24  1013.919983

[2956 rows x 1 columns]