In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Cleaned_PlayStore_Data.csv')
datacopy=data.copy()

In [3]:
# Find Number of Duplicates
for column in datacopy.columns:
    print(f'Number of Duplicates in {column} : {len(datacopy[datacopy[column].duplicated()])} ')

Number of Duplicates in App : 698
Number of Duplicates in Category : 10324
Number of Duplicates in Rating : 10317
Number of Duplicates in Reviews : 4356
Number of Duplicates in Size : 9897
Number of Duplicates in Installs : 10337
Number of Duplicates in Type : 10354
Number of Duplicates in Price : 10265
Number of Duplicates in Content Rating : 10351
Number of Duplicates in Genres : 10238
Number of Duplicates in Last Updated : 8980
Number of Duplicates in Current Ver : 7526
Number of Duplicates in Android Ver : 10324
Number of Duplicates in Day : 10326
Number of Duplicates in Month : 10345
Number of Duplicates in Year : 10348

In [4]:
datacopy.drop_duplicates(subset='App',keep='first')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Day,Month,Year
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3,7,1,2018
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3,15,1,2018
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3,1,8,2018
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,50000000,Free,0.0,Teen,Art & Design,2018-06-08,NaN,4.2,8,6,2018
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4,20,6,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,5000,Free,0.0,Everyone,Education,2017-07-25,1.48,4.1,25,7,2017
10353,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100,Free,0.0,Everyone,Education,2018-07-06,1.0,4.1,6,7,2018
10354,Parkinson Exercices FR,MEDICAL,NaN,3,9.5,1000,Free,0.0,Everyone,Medical,2017-01-20,1.0,2.2,20,1,2017
10355,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,1000,Free,0.0,Mature 17+,Books & Reference,2015-01-19,NaN,NaN,19,1,2015
10356,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,10000000,Free,0.0,Everyone,Lifestyle,2018-07-25,NaN,NaN,25,7,2018

Seperate Variables from objects or nums from categories

In [5]:
numeric_features=[feature for feature in datacopy.columns if datacopy[feature].dtype!='O']
numeric_features

['Rating', 'Reviews', 'Size', 'Installs', 'Price', 'Day', 'Month', 'Year']

In [6]:
datacopy[numeric_features]

       Rating  Reviews  Size  Installs  Price  Day  Month  Year
0         4.1      159  19.0     10000    0.0    7      1  2018
1         3.9      967  14.0    500000    0.0   15      1  2018
2         4.7    87510   8.7   5000000    0.0    1      8  2018
3         4.5   215644  25.0  50000000    0.0    8      6  2018
4         4.3      967   2.8    100000    0.0   20      6  2018
...       ...      ...   ...       ...    ...  ...    ...   ...
10352     4.5       38  53.0      5000    0.0   25      7  2017
10353     5.0        4   3.6       100    0.0    6      7  2018
10354     NaN        3   9.5      1000    0.0   20      1  2017
10355     4.5      114   NaN      1000    0.0   19      1  2015
10356     4.5   398307  19.0  10000000    0.0   25      7  2018

[10357 rows x 8 columns]