A school claims that the students studing in their school have more  IQ than the  students of other school, a team went and took a sample of 50 students from the population of 100 students and found average IQ for  the sample was 110, The Total Population had a Standard Deviation of 15  , consider confidence level as 95%?

Suedocode:
confidence_level=95%
significance=5% ==0.05%
if p<=0.05 reject null hypothesis else accept
null_hypothesis=100=mean(mew)
alternate_hypothesis =mean(mew)>100


z-score=sample mean - population mean / standard deviation /square root (sample size)  = 110-100/15/underroot(50)
z-score=4.7

In [3]:
import math 
import numpy as np
from statsmodels.stats.weightstats import ztest

In [4]:
mean_iq=110
sd_id=15/math.sqrt(50)
alpha=0.05
null_hypothesis=100

In [ ]:
data=(np.random.randn(50)+mean_iq)

array([109.89307054, 109.84678217, 109.76119986, 111.07836344,
       109.24661311, 109.65620207, 110.53421085, 109.91157464,
       110.50104863, 109.02998476, 110.05013642, 108.68614313,
       111.41164868, 111.53248491, 109.91242666, 109.64339657,
       110.68806663, 110.65021   , 110.2346067 , 109.68609141,
       110.13020102, 111.34872841, 110.2266208 , 108.6557832 ,
       110.26361208, 110.97627984, 110.90228151, 110.12975293,
       110.19158209, 111.06565036, 111.9848771 , 110.10694261,
       110.61852685, 109.05635919, 109.77835439, 111.31320854,
       109.49060089, 109.61190166, 112.17933257, 109.71027647,
       112.09229652, 110.54588302, 108.65421587, 110.32530661,
       109.75871536, 110.24481535, 109.27240233, 111.25430203,
       108.59315233, 109.70054263])

In [7]:
ztest(data,value=null_hypothesis,alternative='larger')

(np.float64(81.42220267819701), np.float64(0.0))

In [8]:
pvalue=0.0
if pvalue<=0.05:
    print("Reject null hypotheisi")
else:
    print("accept null hypothesis")

Reject null hypotheisi

T-TEST

One sample ttest( with respect to one independent sample),
two sample ttest( with respect to two independent sample),
paired ttest( two samples from the same pouplation on different time interval)

One sample T-Test

In [9]:
my_total_innings_in_cricket=np.random.randint(10,60,50)
my_cricket_score_in_20_innings=np.random.choice(my_total_innings_in_cricket,20)
null_hypothesis=np.mean(my_cricket_score_in_20_innings)

In [10]:
from scipy import stats
stats.ttest_1samp(my_cricket_score_in_20_innings,null_hypothesis)

TtestResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), df=np.int64(19))

In [11]:
pvalue=1.0
if pvalue<=0.05:
    print("Reject null hypotheisi")
else:
    print("accept null hypothesis")

accept null hypothesis

Ttest Two Sample

In [13]:
my_total_inn_score=np.random.randint(10,60,50)
virat_total_inn_score=np.random.randint(30,90,50)

my_20_inn_score=np.random.choice(my_total_inn_score,20)
virat_20_inn_score=np.random.choice(virat_total_inn_score,20)

from scipy import stats
stats.ttest_ind(my_20_inn_score,virat_20_inn_score)

TtestResult(statistic=np.float64(-4.994285178943364), pvalue=np.float64(1.3515513701956409e-05), df=np.float64(38.0))

Pired T test means single popultaion and selct two samples from the single poplulation

In [15]:
my_total_innings_in_cricket=np.random.randint(10,60,50)
sample1=np.random.choice(my_total_innings_in_cricket,25)
sample2=np.random.choice(my_total_innings_in_cricket,25)
mean_s1=np.mean(sample1)
mean_s2=np.mean(sample2)

from scipy import stats
stats.ttest_rel(sample1,sample2)

TtestResult(statistic=np.float64(-0.6384579766442474), pvalue=np.float64(0.5292216059167946), df=np.int64(24))

In [16]:
pvalue=0.52
if pvalue<=0.05:
    print("reject null hypotheis as mean of two is not equal and p value is proof")
else :
    print("accept null hypothesis")

accept null hypothesis