In [1]:
import numpy as np
import pandas as pd

Missing Value Handling

In [2]:
df=pd.DataFrame({
    'A':[1,2,np.nan,4],
    'B':[6,np.nan,7,8],
    'c':[9,10,11,np.nan],
})
df

     A    B     c
0  1.0  6.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

In [3]:
df.fillna(0)

     A    B     c
0  1.0  6.0   9.0
1  2.0  0.0  10.0
2  0.0  7.0  11.0
3  4.0  8.0   0.0

In [4]:
df.fillna(df.mean())

          A    B     c
0  1.000000  6.0   9.0
1  2.000000  7.0  10.0
2  2.333333  7.0  11.0
3  4.000000  8.0  10.0

In [5]:
df.fillna(df.median())

     A    B     c
0  1.0  6.0   9.0
1  2.0  7.0  10.0
2  2.0  7.0  11.0
3  4.0  8.0  10.0

In [7]:
df.fillna(method='ffill')

C:\Users\ACER PREDATOR\AppData\Local\Temp\ipykernel_3292\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B     c
0  1.0  6.0   9.0
1  2.0  6.0  10.0
2  2.0  7.0  11.0
3  4.0  8.0  11.0

In [8]:
df.fillna(method='bfill')

C:\Users\ACER PREDATOR\AppData\Local\Temp\ipykernel_3292\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

     A    B     c
0  1.0  6.0   9.0
1  2.0  7.0  10.0
2  4.0  7.0  11.0
3  4.0  8.0   NaN

Drop Nan Values

In [9]:
df2=pd.DataFrame({
    'A':[1,2,np.nan,4],
    'B':[6,np.nan,7,8],
    'c':[9,10,11,np.nan]
})
df2

     A    B     c
0  1.0  6.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN