In [1]:
import numpy as np
import pandas as pd

Missing Value Handling

In [2]:
df=pd.DataFrame({
    'A':[1,2,np.nan,4],
    'B':[6,np.nan,7,8],
    'c':[9,10,11,np.nan],
})
df

     A    B     c
0  1.0  6.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

In [3]:
df.fillna(0)

     A    B     c
0  1.0  6.0   9.0
1  2.0  0.0  10.0
2  0.0  7.0  11.0
3  4.0  8.0   0.0