In [1]:
import pandas as pd

In [5]:
technologies=({
    "Courses":["spark","pyspark","hadoop","pandas"],
    "Fee":["28000","19000","21000","25000"],
    "Duration":["30days","40days","50days","60days"],
    "Duration":["300","400","1500","1000"],
})

In [6]:
df = pd.DataFrame(technologies, index = ['r1', 'r2', 'r3', 'r4'])
print(df)

    Courses    Fee Duration
r1    spark  28000      300
r2  pyspark  19000      400
r3   hadoop  21000     1500
r4   pandas  25000     1000

In [ ]:
df2=df.reindex(["r1","row2","r3","r4",],fill_value="testing")
df2

        Courses        Fee   Duration
r1        spark      28000        300
row2  [testing]  [testing]  [testing]
r3       hadoop      21000       1500
r4       pandas      25000       1000