In [1]:
import pandas as pd

In [5]:
technologies=({
    "Courses":["spark","pyspark","hadoop","pandas"],
    "Fee":["28000","19000","21000","25000"],
    "Duration":["30days","40days","50days","60days"],
    "Duration":["300","400","1500","1000"],
})

In [ ]:
df = pd.DataFrame(technologies, index = ['r1', 'r2', 'r3', 'r4'])
print(df)

In [ ]:
df2=df.reindex(["r1","row2","r3","r4",],fill_value="testing")
df2

Selecting and Slicing 
1 : loc  location using named index
2 : iloc  location using integer index

In [11]:
import numpy as np

In [ ]:
df=pd.DataFrame(np.random.rand(8,4),index=['a','b','c','d','e','f','g','h'],columns=['A','B','C','D'])
df

In [ ]:
# Slicing
df.loc['a':'d','A':'D']

In [ ]:
df.loc['b':'c','C':'D']

In [ ]:
df.loc['a']>1    # returns True or False

In [35]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

In [37]:
two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])

In [39]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

ValueError: DataFrame constructor not properly called!