In [1]:
import pandas as pd

In [3]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
df.groupby("Team")  # Gives Object

In [ ]:
df.groupby('Team').groups   # shows groups formed

{'Devils': [2, 3], 'Kings': [4, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10], 'kings': [5]}

group by multiple values

In [7]:
df.groupby(['Team','Year']).groups

{('Devils', 2014): [2], ('Devils', 2015): [3], ('Kings', 2014): [4], ('Kings', 2016): [6], ('Kings', 2017): [7], ('Riders', 2014): [0], ('Riders', 2015): [1], ('Riders', 2016): [8], ('Riders', 2017): [11], ('Royals', 2014): [9], ('Royals', 2015): [10], ('kings', 2015): [5]}

In [8]:
grouped=df.groupby('Year')
for i in grouped:
    print(i)

(2014,      Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701)
(2015,       Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804)
(2016,      Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694)
(2017,       Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690)

In [9]:
grouped2=df.groupby(['Team','Year'])
for i in grouped2:
    print(i)

(('Devils', 2014),      Team  Rank  Year  Points
2  Devils     2  2014     863)
(('Devils', 2015),      Team  Rank  Year  Points
3  Devils     3  2015     673)
(('Kings', 2014),     Team  Rank  Year  Points
4  Kings     3  2014     741)
(('Kings', 2016),     Team  Rank  Year  Points
6  Kings     1  2016     756)
(('Kings', 2017),     Team  Rank  Year  Points
7  Kings     1  2017     788)
(('Riders', 2014),      Team  Rank  Year  Points
0  Riders     1  2014     876)
(('Riders', 2015),      Team  Rank  Year  Points
1  Riders     2  2015     789)
(('Riders', 2016),      Team  Rank  Year  Points
8  Riders     2  2016     694)
(('Riders', 2017),       Team  Rank  Year  Points
11  Riders     2  2017     690)
(('Royals', 2014),      Team  Rank  Year  Points
9  Royals     4  2014     701)
(('Royals', 2015),       Team  Rank  Year  Points
10  Royals     1  2015     804)
(('kings', 2015),     Team  Rank  Year  Points
5  kings     4  2015     812)

In [14]:
#OTHER way
df.groupby('Year').get_group(2015)

      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804

In [15]:
df.groupby('Team').get_group('Kings')

    Team  Rank  Year  Points
4  Kings     3  2014     741
6  Kings     1  2016     756
7  Kings     1  2017     788

ValueError: No axis named Team for object type DataFrame